body {
    background-color: #eeeeee;
  }

.sign {
margin: auto;
max-width: 1200px;
width: 90%;
background-color: white;
/* border-radius: 2%; */
text-align: left;
color: rgb(11, 11, 12);
font-weight: bolder;
padding: 70px;
line-height: 25px;
margin-top: 50px;
margin: auto;
/* opacity: 0%; */
}

.sign .title{
    text-align: left;
}

.sign .form{
    text-align: left;
    margin-top:20px;
    margin-bottom:20px;
}


.button {
background-color: orange; /* Green */
border: none;
color: white;
padding: 4px 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 7px;
margin: 8px 8px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 10%;
}
.button:hover {
box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.img {
max-width: 1200px;
width: 90%;
}

.other {
margin: auto;
padding: auto;
margin-top: 30px;
max-width: 1200px;
width: 90%;
background-color: white;
border-radius: 2%;
}

a {
text-decoration: none;
font-size: 10px;
width: 10px;
color:black;
}




.nav-link {
text-align: center;
font-size: 10px;
margin: auto;
}


.png {
max-width: 1200px;
width: 100%;
align-items: center;
margin: auto;
opacity: 90%;
border-radius: 15px;
margin-top: 20px;
margin-bottom: 20px;
height: 400px;
}

footer{
/* height: px; */
margin-top: 20px;
background-color:#757575;
justify-content:center;
align-items:center;
display: flex;

}
footer p{
margin:45px auto;
color: #fff;
font-weight: 700;
}

.vix {
    margin: auto;
    max-width: 1200px;
    width: 90%;
    background-color: white;
    border-radius: 2%;
    text-align: center;
    color: rgb(11, 11, 12);
    font-weight: bolder;
    opacity: 99%;
    padding: auto;
    line-height: 25px;
    margin-top: 10px;
    /* opacity: 0%; */
}

.vix .title{

    line-height: 60px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: 1px solid darkgrey;

}

tr:nth-child(even) {
  background-color: #dddddd;
  
}