body {
  background-color: #eeeeee;
}
.sign {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  background-color: white;
  border-radius: 2%;
  text-align: center;
  color: rgb(11, 11, 12);
  font-weight: bolder;
  opacity: 99%;
  padding: auto;
  line-height: 25px;
  margin-top: 10px;
  /* opacity: 0%; */
}

.button {
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  margin: 8px 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10%;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.img {
  max-width: 1200px;
  width: 90%;
}

.other {
  margin: auto;
  padding: auto;
  margin-top: 30px;
  max-width: 1200px;
  width: 90%;
  background-color: white;
  border-radius: 2%;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 35px;
  width: 40px;
  text-align: center;
}
.back:hover {
  background-color: #ddd;
  color: black;
}
.next:hover {
  background-color: rgb(121, 37, 133);
  color: white;
}
.back {
  border-radius: 50%;
  background-color: #acacac;
  color: black;
}
.next {
  border-radius: 50%;
  background-color: rgb(68, 30, 112);
  color: white;
}
.nav-link {
  text-align: center;
  font-size: 10px;
  margin: auto;
}

.head {
  align-items: center;
}
.png {
  max-width: 1200px;
  width: 100%;
  align-items: center;
  margin: auto;
  opacity: 90%;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 400px;
}

.sign > p{
  font-size: 20px;
}