<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, world!</title>
</head>
<body>
    

    <form action="/fundamental" method="GET">
        TICKER : <input type="text" name="symbol" />
        <button>SEARCH</button>
    </form>

    <h1>{{company.ticker}}</h1>
    <div>NAME: </div>
    <div>{{company.company}}</div>
    <div>DESCIPTION: </div>
    <div> {{company.describe}}</div>
    <div>INDUSTRY:</div>
    <div>{{company.industry}}</div>
    <div>WEBSITE: </div>
    <div>{{company.website}}</div>
    <hr>
    {{eps}}
    <hr>
    {{rev}}

</body>
</html>