<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/menu.css')}}"
    />
    <!-- <script src="{{url_for('static',filename='js/api_buy.js')}}"></script> -->
    <title>Hello, world!</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a class="fund" href="/ark" style="text-decoration: none">ARK</a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a class="fund" href="/spy" style="text-decoration: none">SPY</a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a class="fund" href="/qqq" style="text-decoration: none">QQQ</a>
          <span></span><span></span><span></span><span></span>
        </li>
      </ul>
    </nav>
  </body>
</html>
