<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{url_for('static',filename='js/spy_buy.js')}}"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">BACKTRADE</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/ark">ARK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/spy">SPY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/qqq">QQQ</a>
            </li>
        </ul>
      </div>
    </nav>
    <main class="sign">HOLDING OF SPY</main>
    <main id="main">
      <section class="sign">
          
          <div id="ticker"></div>
          <div id="date"></div>
          <from name='form' id='form'>
              <from>
                <label>RANK : </label>
                <input type="text" name="rank" id="search" placeholder="1" />
                <input type="button" value="SEARCH" name="submit" class="button" onclick="rankgo()";/>
              </from>
              <from>
                <label>TICKER : </label>
                <input type="text" name="ticker" id="find" placeholder="AAPL" />
                <input type="button" value="SEARCH" name="submit" class="button" onclick="tickergo()";/>
              </from>
          </from>
          <img id="img" class="img" ></img>
          <div class="ok">
            <input type="button" id="prev" value="prev"  onclick="prevgo()"/>
            <input type="button" id="next" value="next" onclick="nextgo()"/>
          </div>
          <div>
              <div>Desribtion:</div>
              <div>Buy Signal Date stand for the date MACD > Signal meaning potential oppurtunity of Bullish market.</duv> 
              <div id="root"></div>
          </div>
      </section >

      <section class="other">
        <div class="sign">
          <div id="ticker">INDICATOR CHART</div>
          <img id="test" class="png" alt="NO PICTURE"/> 
          <div>GOLDEN CROSS & DEATH CROSS</div>
          <div>MA5 & MA6 AS INDICATOR </div>
        </div>
      </section>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>
